html, body {
  margin: 0;
  position: relative;
}

@media (max-width: 740px) {
  html, body {
    background: black;
  }
}

html .mq-message, body .mq-message {
  text-align: center;
  border: 2px solid red;
  margin: 10px;
  display: none;
}

@media (max-width: 740px) {
  html .mq-message, body .mq-message {
    display: block;
  }
}

html .mq-message p, body .mq-message p {
  color: yellow;
  font-size: 2em;
  text-transform: uppercase;
}

html .glass-lamp, body .glass-lamp {
  background: url(../img/lamp.svg) no-repeat top center;
  width: 100%;
  height: 100vh;
  outline: 1px solid green;
  position: absolute;
}

html .glass-lamp.black, body .glass-lamp.black {
  background-color: #000000;
}

html .glass-lamp.kelv-1000, body .glass-lamp.kelv-1000 {
  background-color: #ff1900;
}

html .glass-lamp.kelv-2000, body .glass-lamp.kelv-2000 {
  background-color: #ffad08;
}

html .glass-lamp.kelv-3000, body .glass-lamp.kelv-3000 {
  background-color: #ffef62;
}

html .glass-lamp.kelv-4000, body .glass-lamp.kelv-4000 {
  background-color: #f2ffaa;
}

html .glass-lamp.kelv-5000, body .glass-lamp.kelv-5000 {
  background-color: #d6ffef;
}

html .glass-lamp.kelv-6000, body .glass-lamp.kelv-6000 {
  background-color: #bdffff;
}

html .glass-lamp.kelv-7000, body .glass-lamp.kelv-7000 {
  background-color: #a5ffff;
}

html .glass-lamp.kelv-8000, body .glass-lamp.kelv-8000 {
  background-color: #91ecff;
}

html .glass-lamp.kelv-9000, body .glass-lamp.kelv-9000 {
  background-color: #7ed9ff;
}

html .glass-lamp.kelv-10000, body .glass-lamp.kelv-10000 {
  background-color: #73ceff;
}

@media (max-width: 760px) {
  html .glass-lamp, body .glass-lamp {
    background-position-x: 200px;
  }
}

@media (max-width: 745px) {
  html .glass-lamp, body .glass-lamp {
    background-position-x: 150px;
  }
}

@media (max-width: 740px) {
  html .glass-lamp, body .glass-lamp {
    display: none;
  }
}

html .container, body .container {
  position: absolute;
}

@media (max-width: 740px) {
  html .container, body .container {
    display: none;
  }
}

html .container .light-sensors-panel, body .container .light-sensors-panel {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: cyan;
  background: #000;
}

html .container .light-sensors-panel .status-value .status, body .container .light-sensors-panel .status-value .status {
  text-transform: uppercase;
}

html .container .controller, body .container .controller {
  background: url(../img/light_controll.svg) no-repeat left center;
  width: 200px;
  height: 400px;
  margin: 10px;
  position: initial;
}

html .container .controller .info-pic, body .container .controller .info-pic {
  width: 0px;
  height: 400px;
  position: absolute;
  left: 175px;
}

html .container .controller .info-pic:hover, body .container .controller .info-pic:hover {
  background: url(../img/o_edinicax_izmereniya.jpg) left center no-repeat;
  width: 432px;
}

html .container .controller .info-pic .fa-info-circle, body .container .controller .info-pic .fa-info-circle {
  color: cyan;
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  top: 320px;
  left: -92px;
}

html .container .controller button, body .container .controller button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 1.5em;
}

html .container .controller button.kel-up, body .container .controller button.kel-up {
  top: 141px;
  left: 79px;
  cursor: pointer;
}

html .container .controller button.kel-down, body .container .controller button.kel-down {
  top: 227px;
  left: 79px;
  cursor: pointer;
}

html .container .controller button.power-up, body .container .controller button.power-up {
  top: 184px;
  left: 119px;
  cursor: pointer;
}

html .container .controller button.power-down, body .container .controller button.power-down {
  top: 184px;
  left: 33px;
  cursor: pointer;
}

html .container .controller button.power-button, body .container .controller button.power-button {
  top: 60px;
  left: 74px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */